@page
@model StorageInstruments.Pages.Instruments.ClientInstrumentsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h2>Client Instruments</h2>

@section Scripts{ 
    <script>
        $(function () {
            $.ajax("api/instruments/3",
                { method: "get" })
                .then(function (response) {
                    console.dir(response)
                });
        });
    </script>
}   