@page "{instrumentId:int}"
@model StorageInstruments.Pages.Instruments.DeleteModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2>Delete</h2>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.Instrument.Name ?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a asp-page="List" class="btn btn-default">Go Back!</a>
    </form>        
</body>
</html>
